<!DOCTYPE html>
<html lang="en">
<head>
	<title>Admin Dashboard</title>
</head>
<body>
	 <div class="my-box">
		<div class ="back">
			<a href ="{{url_for("logout")}}" class="back">Logout</a>
		</div>	
        <h1>Hi {{name}} ! Welcome to the Admin Dashboard</h1>
        <div class="west">
			<h2>Categories</h2>
			<a href="{{url_for('create_category',curr_login_id=data.curr_login_id)}}" 
			class="category"> Create Category</a>
			{% for category in data.categories %}
			<div class="category">
				<h3 class="cate-name">{{category.name}}</h3>
			<div class="cat-actions">
			<a href="{{url_for('edit_category',curr_login_id=data.curr_login_id,category_id=category.id)}}" 
			class="category"> Edit</a>
			<a href="{{url_for('remove_category',curr_login_id=data.curr_login_id,category_id=category.id)}}" 
			class="category">Remove</a>
			</div>
			{%endfor%}
			</div>
</body>
</html>